    <!-- Custom js-->
    <script src="/js/app/index.js"></script>
    <!-- jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Bootswatch -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!--index.js 추가-->
    <script src="/js/app/index.js"></script>

    </body>
</html>